app/src/main/res/layout/activity_board.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.android.com/apk/res/android" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="layout_width" type="xs:string"/>
  <xs:attribute name="layout_height" type="xs:string"/>
  <xs:attribute name="id" type="xs:string"/>
  <xs:attribute name="layout_marginEnd" type="xs:string"/>
  <xs:attribute name="layout_marginBottom" type="xs:string"/>
  <xs:attribute name="clickable" type="xs:string"/>
  <xs:attribute name="contentDescription" type="xs:string"/>
  <xs:attribute name="focusable" type="xs:string"/>
  <xs:attribute name="minWidth" type="xs:string"/>
  <xs:attribute name="minHeight" type="xs:string"/>
  <xs:attribute name="src" type="xs:string"/>
  <xs:attribute name="layout_marginLeft" type="xs:string"/>
  <xs:attribute name="layout_marginRight" type="xs:string"/>
</xs:schema>